upstream backend_servers {
    # Variabel ${ACTIVE_CONTAINER} akan diganti otomatis oleh GitHub Actions 
    # menjadi 'app_blue' atau 'app_green'
    server ${ACTIVE_CONTAINER}:8000;
}

server {
    listen 80;

    location / {
        proxy_pass http://backend_servers;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        
        # Pengaturan zero-downtime & error handling
        # Jika upstream mengalami error/timeout/502, NGINX bisa mencoba ulang (opsional)
        proxy_next_upstream error timeout http_502 http_503;
    }
}
